.w-zero {
  width: 0;
}

.w-2rem {
  width: 2rem;
}

.w-4rem {
  width: 4rem;
}

.w-14rem {
  width: 14rem;
}

/* Margins & Paddings */
.my-10p {
  margin: 0.625rem 0;
}

.mx-10p {
  margin: 0 0.625rem;
}

.mt-10p {
  margin-top: 0.625rem;
}

.ml-10p {
  margin-left: 0.625rem;
}

.mr-10p {
  margin-right: 0.625rem;
}

.p-10p {
  padding: 0.625rem;
}
