.w-zero {
  width: 0;
}

.w-2rem {
  width: 2rem;
}

.w-4rem {
  width: 4rem;
}

.w-14rem {
  width: 14rem;
}

/* Margins & Paddings */
.my-10p {
  margin: 0.625rem 0;
}

.mx-10p {
  margin: 0 0.625rem;
}

.mt-10p {
  margin-top: 0.625rem;
}

.ml-10p {
  margin-left: 0.625rem;
}

.mr-10p {
  margin-right: 0.625rem;
}

.p-10p {
  padding: 0.625rem;
}

/* Image & Icons */
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}

.icon-primary {
  color: rgb(0, 102, 255);
}

.icon-dark {
  color: #000000;
}

/* Interactions */
.active-link {
}
