<div class="page-container">
  <div class="page-container-filter">
    <div class="row mx-4 mt-4">
      <div class="col-xs-12 col-12 col-md-6 mx-auto">
        <input
          type="text"
          placeholder="Daterangepicker"
          class="form-control"
          bsDaterangepicker
          (bsValueChange)="foo($event)"
          [bsConfig]="{ isAnimated: true }"
        />
      </div>
      <div
        class="col-xs-12 col-12 col-md-10 mx-auto mt-3 d-flex justify-content-center"
      >
        <button
          type="button"
          class="btn btn-outline-primary w-25"
          [disabled]="!filterBeginDate && !filterEndDate"
        >
          Filter
        </button>
      </div>
    </div>
  </div>
  <div class="page-container-tasks">
    <list-box
      [data]="tasks"
      [showOrder]="true"
      (removeItem)="onTaskRemove($event)"
      (selectItem)="onTaskSelected($event)"
    >
    </list-box>
  </div>
  <div class="page-container-add" (click)="createTask()">
    <img
      src="assets/icons/plus.png"
      alt="plus"
      width="24"
      tooltip="Add new task"
      container="body"
      placement="top"
      [tooltipAnimation]="true"
    />
  </div>
</div>
